<div class="skeleton-loader placeholder-glow @CssClass">
    <span class="placeholder col-7"></span>
    <span class="placeholder col-4"></span>
    <span class="placeholder col-4"></span>
    <span class="placeholder col-6"></span>
    <span class="placeholder col-8"></span>
</div>

@code {
    [Parameter]
    public string CssClass { get; set; } = string.Empty;
}