@using ui.Models
@using Microsoft.Extensions.Options
@inject ILogger<UniversalTitle> _logger
@inject IOptionsSnapshot<UiConfig> _optionsSnapshot

<PageTitle>@PageTitle</PageTitle>

@if (Title is { Length: > 0 })
{
    <h1 class="page-header @CssClass">
        <span>@Title</span>

        @ChildContent
    </h1>
}
else if (ChildContent is { })
{
    <h1 class="page-header @CssClass">
        @ChildContent
    </h1>
}

@code {
    [Parameter]
    public string CssClass { get; set; } = "sticky-top d-flex gap-2 justify-content-start align-items-center bg-body";

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    public string PageTitle { get; set; } = string.Empty;

    protected override void OnParametersSet()
    {
        try
        {
            PageTitle = Title switch
            {
                { Length: > 0 } => $"{_optionsSnapshot.Value.Title}{_optionsSnapshot.Value.Separator}{Title}",
                _ => _optionsSnapshot.Value.Title
            };
        }
        catch (Exception ex)
        {
            _logger.LogError(ex, "Failed to set page title with message: {Message}", ex.Message);
        }
    }
}