<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <base href="./"/>
    <link rel="stylesheet" href="full-screen-loader.css"/>
    <link rel="stylesheet" href="bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"/>
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="ui.styles.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <meta name="description"
          content="I am a software developer and an IT Specialist with experience in the commercial and the academic sector. Currently, I concentrate on software development using open source tools and IT support. I am always interested in projects that raise the bar for the end user."/>
    <meta name="keywords"
          content="cyprus, limassol, c#, php, graphql, odata, entity framework, asp.net, blazor, typescript, javascript, jquery, angular, react, json, css, less, sass, html 5, xhtml, html, vb.net, visual basic.net, mysql, mssql, mongodb, java, wordpress, object oriented programming, object oriented design, web development, oss author"/>
    <meta name="author" content="Adamos Fiakkas"/>
    <HeadOutlet @rendermode="InteractiveServer"/>
    <script src="theme-auto-switcher.js"></script>
</head>

<body data-bs-theme="dark">
<Routes @rendermode="InteractiveServer"/>
<script src="_framework/blazor.web.js"></script>
<span class="prefers-light"></span>
<div class="full-screen-loader" data-message="Adamos Fiakkas"></div>
</body>

</html>
