@page "/"

<UniversalTitle />

<h1>Hello!</h1>

<p>
    I'm a software developer and an IT Specialist with experience in the commercial and the academic sector. <br>
    Currently, I concentrate on software development using open source tools and IT support. <br>
    I'm always interested in projects that raise the bar for the end user.
</p>