@page "/404"

<UniversalTitle Title="404 - Not Found" ShowTitle="false" />

<HeadContent>
    <meta name="robots" content="noindex" />
</HeadContent>

<div class="d-flex flex-column align-items-center gap-2">
    <img src="./images/404-background.png" class="img-fluid rounded-5" />
    <div class="display-1">4🙃4</div>
    <div class="lead">Whoops, the page you are looking for seems to be unavailable...</div>
    <a href="./" class="btn btn-lg btn-outline-primary">Home</a>
</div>
