:root {
  --full-screen-loader-background: no-repeat 50% 50% #010101;
  --full-screen-loader-size: 96px auto;
  --full-screen-loader-message-color: #aaaaaa;
  --full-screen-loader-message-font-weight: 100;
  --full-screen-loader-message-text-shadow: -1px 0 0 #555555;
  --full-screen-loader-message-box-shadow: 1px 0 0 #555555;
}

.full-screen-loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  height: 100vh;
  width: 100vw;
  opacity: 1;
  background: var(--full-screen-loader-background);
  background-size: var(--full-screen-loader-size);
  background-image: url('favicon.png');
  overflow: hidden;
}

.full-screen-loader.done {
  transition-timing-function: ease-in-out;
  opacity: .1;
  filter: blur(5px) grayscale(.75);
}

.full-screen-loader:after {
  content: attr(data-message);
  font-size: 1.5rem;
  display: flex;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  align-items: flex-end;
  justify-content: center;
  padding: 0.5rem;
  color: var(--full-screen-loader-message-color);
  font-weight: var(--full-screen-loader-message-font-weight);
  text-shadow: var(--full-screen-loader-message-text-shadow);
  white-space: nowrap;
}

@media (prefers-color-scheme: light) {
  :root {
    --full-screen-loader-background: no-repeat 50% 50% #fefefe;
    --full-screen-loader-size: 96px auto;
    --full-screen-loader-message-color: #555;
    --full-screen-loader-message-font-weight: 100;
    --full-screen-loader-message-text-shadow: -1px 0 0 #aaa;
  }
}