@inherits LayoutComponentBase
<div class="app-container position-relative vh-100 vw-100 d-flex flex-column">
    <NavMenu CssClass="order-3 order-md-1 z-3 px-3 py-2 flex-shrink-0 bg-secondary" />

    <ErrorBoundary @ref="errorBoundary">
        <ChildContent>
            <main class="order-2 z-1 px-3 flex-fill position-relative overflow-auto">
                <div class="py-2">
                    @Body
                </div>
            </main>
        </ChildContent>
        <ErrorContent>
            <main class="order-2 z-1 px-3 flex-fill d-flex flex-column justify-content-center align-items-center">
                <div class="py-2 mb-0 mb-md-5">
                    <i class="bi bi-exclamation-triangle text-warning"></i>
                    <span>Whoops, something went wrong...</span>
                    <a href="" class="btn btn-outline-primary btn-sm rounded-5 p-0 px-1" title="Reload">
                        <i class="bi bi-arrow-clockwise"></i>
                    </a>
                </div>
            </main>
        </ErrorContent>
    </ErrorBoundary>
</div>

@code {
    private ErrorBoundary? errorBoundary;

    protected override void OnParametersSet() => errorBoundary?.Recover();
}
