@inherits LayoutComponentBase

<NavMenu CssClass="sticky-top z-3 py-2 px-3 bg-secondary" />

<main class="position-relative z-1 px-3">
    <ErrorBoundary @ref="errorBoundary">
        <ChildContent>
            <div class="py-2">
                @Body
            </div>
        </ChildContent>
        <ErrorContent>
            <div class="py-2 h-100 d-flex flex-column justify-content-center align-items-center">
                <div class="mb-0 mb-md-5">
                    <i class="bi bi-exclamation-triangle text-warning"></i>
                    <span>Whoops, something went wrong...</span>
                    <a href="" class="btn btn-outline-primary btn-sm rounded-5 p-0 px-1" title="Reload">
                        <i class="bi bi-arrow-clockwise"></i>
                    </a>
                </div>
            </div>
        </ErrorContent>
    </ErrorBoundary>
</main>

@code {
    private ErrorBoundary? errorBoundary;

    protected override void OnParametersSet() => errorBoundary?.Recover();
}
