<nav
    class="d-flex gap-2 justify-content-center justify-content-md-start align-items-center flex-wrap @CssClass">
    <NavLink Match="NavLinkMatch.All" ActiveClass="border border-primary-subtle rounded-5"
        class="navbar-brand order-3 order-md-1" href="" title="Home">
        <img src="favicon.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
    </NavLink>

    <NavLink ActiveClass="btn-outline-primary" class="btn order-2" href="counter">
        Counter
    </NavLink>

    <NavLink ActiveClass="btn-outline-primary" class="btn order-4" href="weather">
        Weather
    </NavLink>

    <NavLink ActiveClass="btn-outline-primary" class="d-none d-md-block btn order-4 ms-auto rounded-5 p-1 px-2" href="api-status">
        <i class="bi bi-clipboard2-pulse-fill"></i>
    </NavLink>
</nav>

@code {
    [Parameter]
    public string CssClass { get; set; } = string.Empty;
}