@inherits TestContext

@code {

    [Fact]
    public void GenericNoData_Should_Render_Default_With_Default_Parameters()
    {
        var cut = Render(@<GenericNoData/>);

        var result = cut.Find("div.generic-no-data");

        result.MarkupMatches(@<div class="generic-no-data py-2 lead">
                                <span>
                                    No matter how how hard the server tried, no data was retrieved... Please try again later!
                                </span>
                             </div>
        );
    }

    [Fact]
    public void GenericNoData_Should_Render_With_Message()
    {
        var cut = Render(@<GenericNoData Message="No Data Message"/>);

        var result = cut.Find("div.generic-no-data");

        result.MarkupMatches(@<div class="generic-no-data py-2 lead">
                                <span>
                                    No Data Message
                                </span>
                             </div>
        );
    }

    [Fact]
    public void GenericNoData_Should_Render_With_Message_And_Css_Class()
    {
        var cut = Render(@<GenericNoData CssClass="test" Message="No Data Message"/>);

        var result = cut.Find("div.generic-no-data");

        result.MarkupMatches(@<div class="generic-no-data test">
                                <span>
                                    No Data Message
                                </span>
                             </div>
        );
    }

    [Fact]
    public void GenericNoData_Should_Render_With_Message_Css_Class_And_ChildContent_When_ChildContent_Is_Set()
    {
        var cut =
            Render(@<GenericNoData CssClass="test"
                                   Message="No Data Message">
                       <a href="">Extra!</a>
                   </GenericNoData>
            );

        var result = cut.Find("div.generic-no-data");

        result.MarkupMatches(@<div class="generic-no-data test">
                                <span>
                                    No Data Message
                                </span>
                                 <a href="">Extra!</a>
                             </div>
        );
    }

}
