@inherits TestContext

@code {

    [Fact]
    public void Skeleton_Should_Render()
    {
        var expectedRenderFragment = Render(@<div class="skeleton-loader placeholder-glow ">...</div>);
        var cut = Render(@<Skeleton/>);

        var result = cut.Find("div.skeleton-loader");

        expectedRenderFragment.MarkupMatches(result.ToMarkupElementOnly());
        result.Children.Where(x => x.ClassList.Contains("placeholder")).Should().HaveCount(5);
    }

    [Fact]
    public void Skeleton_Should_Render_With_Defined_Css_Class()
    {
        var expectedRenderFragment = Render(@<div class="skeleton-loader placeholder-glow test">...</div>);
        var cut = Render(@<Skeleton CssClass="test"/>);

        var result = cut.Find("div.skeleton-loader.test");

        expectedRenderFragment.MarkupMatches(result.ToMarkupElementOnly());
        result.Children.Where(x => x.ClassList.Contains("placeholder")).Should().HaveCount(5);
    }

}
